.have-account {
    color: var(--color-border);
    cursor: pointer;
    text-decoration: none;
}

.have-account:hover {
    color: var(--color-border);
    font-weight: 600;
    text-shadow: 0 0 1.25rem rgba(247, 202, 24, 0.8);
    text-decoration: underline;
}

.enter-name {
    padding-left: 1.2rem;
}

.registerForm {
    padding: 2rem 0;
}