:root {
    --color-primary-dark: rgb(201, 0, 0);
    --color-primary-light: rgb(241, 85, 85);
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(241, 85, 85, 0.8),rgba(201, 0, 0, 0.8));
    background-size: cover;
	background-repeat: none;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
}

.subheader {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	border: 4px double gold;
	border-radius: 5px;
	box-shadow: 0 .8rem 1.5rem rgba(240, 255, 0, 0.5);
	max-width: 90%;
	margin: 0 auto;
	padding: 40px;
	background-color: lightgray;
}

.btn {
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 900;
	cursor: pointer;
	padding: .5rem 1.5rem;
	border: 2px solid lightgray;
	border-radius: 5px;
}

.btn:hover {
	color: red;
	box-shadow: 0 .626rem 1.25rem rgba(230, 107, 107, 0.5);
}