:root {
	--color-primary-dark1: rgba(255, 48, 49, 1);
	--color-primary-dark2: rgba(247, 202, 24, 1);
	--color-primary-medium1: rgba(236, 100, 75, 1);
	--color-primary-medium2: rgba(255, 246, 143, 1);
	--color-primary-light1: rgba(255,217,217,1);
	--color-primary-light2: rgba(254, 250, 212, 1);

	--color-border: rgba(150, 40, 27, 1);

}


body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-270deg, rgba(255, 246, 143,0.3), rgba(236, 100, 75, 0.8));
	background-repeat: none;
	background-attachment: fixed;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	background-repeat: none;
}

.subheader {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	border: 8px double var(--color-border);
	border-radius: 6px;
	box-shadow: .5rem .8rem .8rem var(--color-border);
	max-width: 90%;
	margin: 0 auto;
	padding: 15px;
	background-color: 	rgba(248,248,248, 1);
}

.btn {
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	padding: .5rem 1.5rem;
	border-radius: 5px;
	text-decoration: none;
	background-color: var(--color-border);
	color: var(--color-primary-light1);
}

.btn:hover {
	color: var(--color-border);
	background-color: rgba(236, 100, 75, 0.6);
	transform: translateX(-3px);
	box-shadow: 0 .5rem .5rem var(--color-primary-medium1);
	font-weight: 900;
}

Input {
	/* display: inline-block; */
	color: black;
	width: 50%;
	padding: .5rem 1rem;
	box-sizing: border-box;
	background-color: rgba(254, 250, 212, 0.3);
	border: none;
	border-radius: 2px;
	margin: 10px auto;
	transition: background-color 0.5s ease;
	border: 1px solid var(--color-border);
	font-size: 1rem;
}

Input:focus {
	background-color: rgba(255,217,217, 0.4);
}

Label {
	text-align: right;
	margin-right: 5px;
}
