:root {
	--color-primary-dark1: rgba(255, 48, 49, 1);
	--color-primary-dark2: rgba(247, 202, 24, 1);
	--color-primary-medium1: rgba(236, 100, 75, 1);
	--color-primary-medium2: rgba(255, 246, 143, 1);
	--color-primary-light1: rgba(255,217,217,1);
	--color-primary-light2: rgba(254, 250, 212, 1);

	--color-border: rgba(150, 40, 27, 1);
	--color-border-medium: rgba(150, 40, 27, 0.5);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }

    80% {
        transform: translateX(.0625rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(.0625rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1.875rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-270deg, rgba(255, 246, 143,0.3), rgba(236, 100, 75, 0.8));
	background-repeat: none;
	background-attachment: fixed;
	text-align: center;
}

.App {
	display: flex;
	flex-direction: column;
	background-repeat: none;
}

.subheader {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divider {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	border: 8px double var(--color-border);
	border-radius: 8px;
	/* box-shadow: .5rem .8rem .8rem var(--color-border); */
	box-shadow: 5px 5px rgba(150, 40, 27, .6),
				10px 10px rgba(150, 40, 27, .4),
				15px 15px rgba(150, 40, 27, .2)
	;
	max-width: 90%;
	margin: 0 auto;
	/* padding: 10px; */
	background-color: rgba(248,248,248, 1);
}

.btn {
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	margin-top: .5rem;
	padding: .5rem 1.5rem;
	border-radius: 5px;
	text-decoration: none;
	background-color: var(--color-border);
	color: var(--color-primary-light1);
}

.btn:hover {
	color: var(--color-border);
	background-color: rgba(236, 100, 75, 0.6);
	transform: translateX(-3px);
	box-shadow: 0 .5rem .5rem var(--color-primary-medium1);
	font-weight: 900;
}

Input {
	color: black;
	width: 65%;
	padding: .5rem 1rem;
	box-sizing: border-box;
	background-color: rgba(254, 250, 212, 0.3);
	border: none;
	border-radius: 2px;
	margin: 1rem auto;
	transition: background-color 0.5s ease;
	border: 1px solid var(--color-border);
	font-size: 1rem;
	flex: 0 1;
}

Input:focus {
	background-color: rgba(255,217,217, 0.4);
}

Label {
	text-align: right;
	margin-right: 5px;
}

.Signup-label {
		font-size: 1.4rem;
		margin: .1rem  0;
	}


/* 20em = 320px to 37.5em = 600px */
@media only screen and (min-width: 20em) and (max-width:37.5em) {
	/* Image */
	img {
		margin-top: .5rem;
		height: 40px;
		width: 40px;
	}

	/* Header Top for Image and Space Repetition */
	.headerTop {
		vertical-align: middle;
		margin: 0 6% 2% 6%;
	}

	/* For Log in, Sign Up and Log out Link */
	.navblock {
		font-size: 1rem;
		padding: 1rem 1rem;
	}

	/* Copyright */
	.copy-footer {
		font-size: .75rem;
		font-weight: 600;
	}

	/* Registration Form Input */
	.registerForm > * Input {
		margin: 0.5rem;
	}

	/* Registration Form Label */
	.registerForm > * Label {
		float: left;
		/* background-color: pink; */
		margin-top: 2%;
		margin-left: 19%;
		padding: 0;
	}

	/* Practice learning.. */
	.practice-title {
		font-size: 1rem;
		font-weight: 900;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	/* Already have an account */
	.have-account {
		margin-top: 1rem;
		font-size: .8rem;
		font-weight: 600;
	}
}

/* 37.5em = 600px to 56.25em = 900px */
@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
	/* Image */
	img {
		margin-top: .5rem;
		height: 50px;
		width: 50px;
	}

	/* Header Top for Image and Space Repetition */
	.headerTop {
		margin: 1% 5% 1.5% 5%;
	}

	/* Welcome and username */
	.welcome {
		font-size: 1rem;
	}

	.navbar {
		margin: 2% 0 0 0;
	}

	/* For Log in, Sign Up and Log out Link */
	.navblock {
		font-size: 1.2rem;
		padding: 1rem 1rem;
	}

	/* Logout */
	.navblock-out {
		font-size: 1.2rem;
		line-height: 18px;
	}

	/* Space Repetition title */
	.space-title {
		font-size: 2rem;
	}

   /* container for login and registration */
	.container {
		margin: 1% 20%;
	}

	/* container for dashboard */
	.container-dash {
		margin: 1% 10% 10% 10%;
	}

	/* Practice Learning */
	.practice-title {
		font-size: 1.2rem;
		text-align: center;
		padding: 0 15%;
	}

	/* Registration Form Input */
	.registerForm > * Input {
		/* margin: 0.5rem; */
		width: 55%
	}
}

/* 56.25em = 900px to 75em = 1200px */
@media only screen and (min-width: 56.25em) and (max-width: 75em) {
	/* Image */
	img {
		margin-top: .5rem;
		height: 60px;
		width: 60px;
	}

	/* Header Top for Image and Space Repetition */
	.headerTop {
		margin: 1% 5% 1% 5%;
	}
	
	/* Welcome and username */
	.welcome {
		font-size: 1rem;
	}

	.navbar {
		margin: 2% 0 0 0;
	}

	/* For Log in, Sign Up and Log out Link */
	.navblock {
		font-size: 1.2rem;
		padding: 1rem 1rem;
	}

	/* Logout */
	.navblock-out {
		font-size: 1.2rem;
		line-height: 18px;
	}

	/* Space Repetition title */
	.space-title {
		font-size: 2.5rem;
	}

	/* container for login and registration */
	.container {
		margin: 1% 25%;
	}

	/* container for dashboard */
	.container-dash {
		margin: 0 18% 10% 18%;
	}

	/* Practice Learning */
	.practice-title {
		text-align: center;
		font-size: 1.5rem;
		padding: 0 20%;
	}

	/* Registration Form Input */
	.registerForm > * Input {
		width: 60%
	}
}

/* min-width 75em = 1200px */
@media only screen and (min-width: 75em){

	/* Image */
	img {
		margin-top: .5rem;
		height: 60px;
		width: 60px;
	}

	/* Header Top for Image and Space Repetition */
	.headerTop {
		margin: 1% 5% 0 5%;
	}
	
	/* Welcome and username */
	.welcome {
		font-size: 1rem;
	}

	.navbar {
		margin: 2% 0 0 0;
	}

	/* For Log in, Sign Up and Log out Link */
	.navblock {
		font-size: 1.2rem;
		padding: 1.3rem 1rem;
	}

	.navblock:first-child {
		margin-left: 6rem !important;
	}

	/* Logout */
	.navblock-out {
		font-size: 1.2rem;
		line-height: 18px;
	}

	/* Space Repetition title */
	.space-title {
		font-size: 2.6rem;
	}
	
	/* container for login and registration */
    .container {
		margin: 0 30%;
	}

	/* container for dashboard */
	.container-dash {
		margin: 0 25% 10% 25%;
	}
	
	/* Practice Learning */
	.practice-title {
		text-align: center;
		font-size: 1.8rem;
		padding: 0 16%;
	}
}
