.word {
	border: solid 2px var(--color-border);
	border-radius: 6px;
	width: 40%;
	min-width: 280px;
	margin: 10px auto;
	padding: 0 0 18px;
	box-shadow: 3px 3px var(--color-border);
}

/* .word:hover {
	transform: translate(1%, 1%);
	cursor: pointer;
	box-shadow: 7px 7px var(--color-border);
} */

h5 {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(225, 0, 0);
	font-weight: 900;
}

h4 {
	letter-spacing: 2px;
}

.cor-count {
	text-transform: none;
	padding-left: 2.3rem;
	text-align: left;
}

.rst {
	display: inline-block;
	text-indent: 1.2rem;
}

.rst1 {
	display: inline-block;
	text-indent: .5rem;
}