header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto 2%;
	width: 90%;
	padding: auto;
}

h1 {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 100%;
	font-family: 'Merriweather', serif;
	margin: 0;
	/* height: 75px; */
	padding: auto 0;
}

.headerTop {
	width: 100%;
	padding: 0;
	margin: 2% 0;
}

img {
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	box-shadow: 0 0 20px 5px var(--color-primary-light2);
	margin: 0 3% 0 0;
	position: absolute;
  	top: 50%;
  	/* left: 50%; */
  	transform: translate(-120%, -50%);
}

.spaceRep-title {
	color: rgba(217, 30, 24, 3);
	text-decoration: none;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 900;
	position: relative;
}

.spaceRep-title:hover {
	text-transform: uppercase;
	color: var(--color-primary-dark2);
	text-shadow: 
			3px 3px 0 #000,
			0 .5rem .8rem var(--color-primary-dark1),
			2px 2px 0 #000;
	font-weight: 900;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	min-width: 50%;
	/* max-width: 85%; */
}

.navblock {
	display: inline;
	color: var(--color-border);
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
}

.navblock:hover, .navblock-out:hover {
	text-shadow: -1px 0 var(--color-primary-light2), 0 2px var(--color-primary-light2), 2px 0 var(--color-primary-light2), 0 -1px var(--color-primary-light2);
	text-decoration: underline;
	font-weight: 600;
	transform: translateX(3px);
}

.username {
	text-transform: uppercase;
	/* letter-spacing: 1px; */
	font-weight: 900;
	/* vertical-align: middle; */
}

.welcome {
	vertical-align: text-bottom;
	font-size: .8rem;
}

.space-title {
	/* display: inline-block; */
	font-size: 1.3rem;
}

.navbar {
	margin: 2% 0 1% 0 ;
}

.navblock-out {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-border);
	font-size: 1rem;
	font-weight: 900;
	line-height: 14px;
}