.flashcard {
	font-size: 28px;
	text-transform: capitalize;
	letter-spacing: 2px;
	background:
	linear-gradient(
	  to right,
	  var(--color-primary-medium1) 0%,
	  var(--color-primary-medium1) 5px,
	  transparent
	);
	animation:  moveInBottom 1s ease-in .25s;
	animation-fill-mode: backwards;
}

.results {
	font-weight: 900;
}

#learn-guess-input {
	text-align: center;
	margin-right:5px;
}

.orig {
	color: var(--color-border);
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
}

.trans {
	color: var(--color-green);
	font-weight: 900;
	text-transform: capitalize;
	text-decoration-line: underline;
  	text-decoration-style: double;
}

.guess {
	color: var(--color-red);
	font-weight: 900;
	text-transform: capitalize;
}

.trans2 {
	color: var(--color-green);
	font-weight: 900;
	text-transform: capitalize;
	text-decoration-line: underline;
  	text-decoration-style: double;
}

.guess2 {
	color: var(--color-green);
	font-weight: 900;
	text-transform: capitalize;
}

.correctMsg {
	color: var(--color-green);
}

.wrongMsg {
	color: var(--color-primary-dark1);
}	