.wordList{
	text-transform: capitalize;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0;
}


.learn {
	text-decoration: none;
	color: var(--color-primary-light1);
}

.learn:hover {
	color: var(--color-border);
}

.results1 {
	display: inline-block;
	text-indent: .8rem;
	font-size: 1.2rem;
	font-weight: 900;
}